body {
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
  margin: 0; }

@media (max-width: 1248px) {
  .slider div img {
    display: none; } }

@media (max-width: 1080px) {
  .hc-head img {
    width: 253px !important;
    height: 80px !important; }
  .hc-head p {
    font-size: 1.9em !important; }
  .ms .menu ul li::after {
    top: .6em !important;
    height: .6em !important; }
  .ms .menu a {
    font-size: .6em !important; } }

@media (max-width: 720px) {
  .hc-head img {
    top: 0;
    left: 0;
    right: 0; }
  .hc-head p {
    text-align: center !important;
    left: 0;
    right: 0;
    bottom: 0; }
  .ms .menu {
    height: 160px !important; }
    .ms .menu ul li {
      display: block !important; }
      .ms .menu ul li::after {
        content: '';
        display: none; }
  .main {
    width: 100% !important;
    height: 100% !important; }
    .main .container {
      flex-direction: column;
      height: 100% !important; }
      .main .container .mc-left {
        padding: 0 !important;
        width: 100% !important;
        height: 100% !important; }
      .main .container .mc-right {
        width: 100% !important;
        height: 100% !important; }
  .footer {
    height: 100% !important; }
    .footer .container {
      height: 100% !important;
      flex-direction: column; } }

.container {
  max-width: 980px;
  height: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 230px;
  background: #ccc; }
  .header .container .hc-head {
    width: 100%;
    height: 230px;
    position: relative;
    display: flex;
    align-items: center; }
    .header .container .hc-head img {
      position: absolute;
      left: 0;
      width: 273px;
      height: 100px; }
    .header .container .hc-head p {
      position: absolute;
      right: 0;
      width: 273px;
      height: 100px;
      margin: 0;
      color: #767676;
      font-size: 32px;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 1px;
      text-align: end; }

.ms {
  width: 100%;
  height: 542px;
  position: relative; }
  .ms .menu {
    width: 100%;
    height: 80px;
    background: #777777;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; }
    .ms .menu .hc-menu {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .ms .menu .hc-menu ul {
        padding: 0;
        margin: 0; }
        .ms .menu .hc-menu ul li {
          display: inline;
          height: 100%;
          font-size: 30px;
          font-weight: 400;
          letter-spacing: 0.75px;
          position: relative; }
          .ms .menu .hc-menu ul li::after {
            position: absolute;
            right: -2px;
            background: #fff;
            height: 27px;
            width: 2px;
            content: ''; }
          .ms .menu .hc-menu ul li:last-child::after {
            display: none; }
          .ms .menu .hc-menu ul li a {
            color: #fff;
            text-decoration: none;
            padding: 0 20px; }
            .ms .menu .hc-menu ul li a:hover {
              text-decoration: underline; }
  .ms .slider {
    width: 100%;
    height: 462px;
    background: #f8f8f8;
    position: absolute;
    z-index: 1;
    top: 20px; }
    .ms .slider div {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center; }
      .ms .slider div img {
        width: 1248px;
        height: 100%; }

.main {
  width: 100%;
  height: 560px;
  margin-top: -20px;
  margin-bottom: 195px; }
  .main .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main .container .mc-left {
      width: 350px;
      height: 560px;
      background: #777777;
      padding-left: 36px; }
      .main .container .mc-left h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px; }
      .main .container .mc-left div {
        width: 265px;
        height: 372px;
        position: relative; }
        .main .container .mc-left div p {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.35px; }
        .main .container .mc-left div a {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.38px; }
    .main .container .mc-right {
      width: 569px;
      height: 493px;
      color: #767676; }
      .main .container .mc-right h2 {
        margin-top: 0;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 1px; }
      .main .container .mc-right p {
        font-size: 14px;
        font-weight: 400; }

.footer {
  width: 100%;
  height: 220px;
  background: #777777; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .container .fc a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .footer .container .fc ul {
      list-style: none; }
    .footer .container .fc p {
      width: 200px;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      margin: 0; }
    .footer .container .fc img {
      width: 36px;
      height: 38px; }
    .footer .container .fc:last-child {
      width: 225px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer .container .fc:last-child p {
        margin-left: 10px; }
